#jinja2: lstrip_blocks: "True"
{% set cluster_name = item.value.cluster_name %}
apiVersion: networking.mesh.gloo.solo.io/v1
kind: AccessPolicy
metadata:
  namespace: [[ gloo_mesh_namespace ]]
  name: gloo-mesh-addons
spec:
  sourceSelector:
  - kubeServiceAccountRefs:
      serviceAccounts:
        - name: istio-ingressgateway-service-account
          namespace: [[ istio_namespace ]]
          clusterName: [[ cluster_name ]]
  - kubeIdentityMatcher:
      namespaces:
      - gloo-mesh-addons
  destinationSelector:
  - kubeServiceMatcher:
      namespaces:
      - gloo-mesh-addons