#jinja2: lstrip_blocks: "True"
apiVersion: networking.mesh.gloo.solo.io/v1
kind: AccessPolicy
metadata:
  namespace: [[ gloo_mesh_namespace ]]
  name: gloo-mesh-addons
spec:
  sourceSelector:
  - kubeServiceAccountRefs:
      serviceAccounts:
        {% for k,v in gloo_clusters.items() %}
        {% if k != "mgmt" %}
        - name: istio-ingressgateway-[[ istio_revision ]]-service-account
          namespace: istio-gateways
          clusterName: [[ gloo_agent_cluster_name ]]
        {% endif %}
        {% endfor %}
  - kubeIdentityMatcher:
      namespaces:
      - gloo-mesh-addons
  destinationSelector:
  - kubeServiceMatcher:
      namespaces:
      - gloo-mesh-addons