apiVersion: v1
data:
  kubeconfig: {{ gloo_federated_cluster_kubeconfig.content }}
kind: Secret
metadata:
  name: {{ gloo_cluster_name }}
  namespace: {{ gloo_edge_namespace }}
type: solo.io/kubeconfig