#jinja2: lstrip_blocks: "True"
apiVersion: v1
kind: Secret
metadata:
  name: monetization-secret
  namespace: "{{ gloo_namespace }}"
type: kubernetes.io/basic-auth
stringData:
  username: "{{ gloo_monetization_db_username }}"
  password: "{{ gloo_monetization_db_password }}"